@import "tailwindcss";

@font-face {
	font-family: "Nova Quinta";
	src: url("/nova-quinta.otf") format("opentype");
	font-display: swap;
}

@theme {
	--font-nova: "Nova Quinta", serif;
	--animate-scroll: scroll 30s linear infinite;
}

@keyframes scroll {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(calc(-100% / 3));
	}
}

html {
	font-family: "Montserrat", sans-serif;
	scroll-padding-top: 5rem;
}

section {
	padding-bottom: 15rem;
}

summary {
	list-style: none;
}

summary::-webkit-details-marker {
	display: none;
}
